{% extends "home/base.html" %} 

{% block title %}Home{% endblock %}

{% block content %}
<div class='inline-grid'>
    <div class='text-center p-2 m-1 bg-gray-200 rounded-xl'>
        <div class='border-b border-gray-600 m-1'>
            <div>
                <a href='{% url "home:houseforsale" %}' class='p-1 m-1 text-blue-800 font-semibold bg-orange-300 rounded-xl hover:bg-orange-400'>Houses available for sale</a>
            </div> 
            <div class='m-1 bg-gray-300 rounded-xl p-1 grid grid-cols-2 gap-1 inline-block'>
                {% for house in houses %}
                    <a href='{% url "home:detail" house.id %}'>
                        <div class='mt-1'>
                            <img src='{{ house.image1.url }}' class='rounded-t-xl'>
                        </div>
                        <div class='mb-1 rounded-b-xl bg-gray-100 p-2'>
                            <h1>{{ house.name }}</h1>
                            <p>Price: {{ house.price }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div>
            <div>
                <a href='{% url "home:houseforrent" %}' class='p-1 m-1 text-blue-800 font-semibold bg-orange-300 rounded-xl hover:bg-orange-400'>Houses available for Rent</a>
            </div> 
            <div class='m-1 bg-gray-300 rounded-xl p-1 grid grid-cols-6 gap-6 border-b border-gray-600'>
                {% for rental in rentals %}
                    <a href='{% url "home:detail" rental.id %}'>
                        <div>
                            <img src='{{ rental.image1.url }}' class='rounded-t-xl' width="384" height="512">
                        </div>
                        <div class='mb-1 rounded-b-xl bg-gray-100 p-2'>
                            <h1>{{ rental.name }}</h1>
                            <p>Rent: {{ rental.price }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div>
            <div>
                <a href='{% url "home:cars" %}' class='p-1 m-1 text-blue-800 font-semibold bg-orange-300 rounded-xl hover:bg-orange-400'>Cars on Sale</a>
            </div>     
            <div class='m-1 bg-gray-300 rounded-xl p-1 grid grid-cols-6 gap-6 border-b border-gray-600'>
                {% for car in cars %}
                    <a href="{% url 'home:cardetail' car.id %}" class='col-span-1'>
                        <div>
                            <img src='{{ car.image1.url }}' class='rounded-t-xl' width="512" height="512">
                        </div>
                        <div class='mb-1 rounded-b-xl bg-gray-100 p-2'>
                            <h1>{{ car.name }}</h1>
                            <p>Price: {{ car.price }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
            
                
        </div>
        
    </div>
</div>


{% endblock %}
