{% extends 'home/base.html' %}

{% block title %}Houses{% endblock %}

{% block content %}

<div class='m-2 bg-gray-300 rounded-xl'>
    <div class='bg-gray-200 p-3 rounded-xl'>    
        <a class='m-3 p-4 text-blue-800 font-semibold'>Houses available for sale</a> 
    </div>
    <div class='bg-gray-300 grid grid-cols-6 gap-6 p-2'>
        {% for house in houses %}
            <a href='{% url "home:detail" house.id %}'>
                <div class='mt-1'>
                    <img src='{{ house.image1.url }}' class='rounded-t-xl'>
                </div>
                <div class='mb-1 rounded-b-xl bg-gray-100 p-2'>
                    <h1>{{ house.name }}</h1>
                    <p>Price: {{ house.price }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}